.menu_container {
    display: flex;
    width: 100%;
    height: 6rem;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.left_container {
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right_container  {
    display: flex;
    margin-left: 4%;
    gap: 7%;
    align-items: center;
    width: 50%;
    font-weight: bold;
    font-size: 1rem;
    color: black;
}

.itemMenu {
    display: flex;
    margin-left: 4%;
    gap: 7%;
    align-items: center;
    width: 50%;
    font-weight: bold;
    font-size: 1rem;
    color: black;
}

.burgerButton {
    display: none;
}
.logo_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    margin-left: 2%;
}

.image {
    max-width: 80%;
    height: auto;
}

.menuContainer {
    display:  none;
}

@media only screen and (max-width: 768px) {
    .menu_container {
        width: 100%;
    }

    .itemMenu {
        display: none;
    }
    .burgerButton {
        display: flex;
        align-items: center;
        margin-left: 20%;
        position: relative;
        left: 35%;
    }

    .buttonContainer{
       display:flex;
        flex-direction:column;
        width:70px;
        cursor:pointer;
    }

    .buttonContainer span{
        background: blue;
        border-radius:10px;
        height:7px;
        margin: 7px 0;
        transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
    }

    input[type="checkbox"]{
        display:none;
    }

    input[type="checkbox"]:checked ~ span:nth-of-type(1){
        transform-origin:bottom;
        transform:rotatez(45deg) translate(8px,0px);
        width: 50% !important;
    }

    input[type="checkbox"]:checked ~ span:nth-of-type(2){
        transform-origin:top;
        transform:rotatez(-45deg)
    }

    input[type="checkbox"]:checked ~ span:nth-of-type(3){
        transform-origin:bottom;
        width:50% !important;
        transform: translate(30px,-11px) rotatez(45deg);
    }

    @keyframes menuAnimation {
        0% {
            transform: translateX(-100%);
        }
        100% {
            transform: translateX(0%);
        }
    }

    .menuContainer {
        width: 65%;
        height: 100vh;
        background-color: white;
        box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 65%;
        z-index: 1;
        animation: menuAnimation 0.5s ease-in-out;
    }

    .itemPhoneButton {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.5vh;
        font-weight: bold;
        color: black;
        text-decoration: none;
        margin: 1%;
        animation: menuAnimation 1s ease-in-out;
    }

    .searchBox {
        display: flex;
        position: relative;
        left: 8%;
        gap: 8%;
    }

    .searchBar {
        display: flex;
        width: 50%;
        height: 2rem;
        background-color: rgba(255, 255, 255, 1);
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
        border: none;
    }

    /* Set style to placeholder */
    .searchBar::-webkit-input-placeholder { /* WebKit browsers */
        padding-left: 20px;
        font-size: large;
    }
    .searchBar:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        padding-left: 20px;
        font-size: large;
    }
    .searchBar::-moz-placeholder { /* Mozilla Firefox 19+ */
        padding-left: 20px;
        font-size: large;
    }
    .searchBar:-ms-input-placeholder { /* Internet Explorer 10+ */
        padding-left: 20px;
        font-size: large;
    }

    .itemPhoneButton:hover {
        color: rgba(245, 140, 39, 1);
    }
}
